body {
  background-color: #eee;
}

.main-container {
  width: 600px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
}

.search-contain {
  margin-top: 100px;
  position: relative;
  background-color: #fff;
  height: 70px;
}

.main-input {
    z-index: 11;
}

.autocomplete{
    top: 0;
    left: 0;
    background: transparent;
    z-index: 10;
    color: lightSalmon;
}

input {
  top: 0;
  padding-left: 10px;
  padding-right: 10px;
  background: transparent;
  position: absolute;
  color: salmon;
  box-shadow: none;
  outline: none;
  border: 0;
  font-size: 30px;
  width: 100%;
  max-width: 570px;
  text-align: left;
  height: 70px;
}

.select-box {
  background-color: pink;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  height: 20px;
  list-style: none;
  border-bottom: 2px dotted #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15px;
  color: #fff;
}
