body {
  background-color: #eee;
}

button {
  margin: auto;
  margin-top: 5px;
  font-family: futura;
  height: 40px;
  width: 70px;
  border-radius: 5px;
  background-color: pink;
  transition: all 0.5s;
  transition-timing-function: ease-out;
  font-size: 10px;
}
.drop-down-btn {
  display: inline-block;
  margin-top: 20px;
  right: -110px;
  top: -20px;
  position: absolute;
  height: 70px;
  width: 108px;
  font-size: 20px;
}

.language-container {
  text-align: left;
}

.main-container {
  width: 600px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
}

.search-contain {
  margin-top: 100px;
  position: relative;
  background-color: #fff;
  height: 70px;
  max-width: 600px;
}

/* Input Container */
/*Typing input*/
.main-input {
  z-index: 11;
}

/* Ghost Input */
.autocomplete{
    z-index: 10;
    color: lightSalmon;
}

/* Both Input & Ghost */
input {
  top: 0;
  padding-left: 10px;
  padding-right: 10px;
  background: transparent;
  position: absolute;
  color: salmon;
  box-shadow: none;
  outline: none;
  border: 0;
  font-size: 30px;
  width: 100%;
  max-width: 570px;
  text-align: left;
  height: 70px;
  margin-left: 15px;
  margin-right: 15px;
}


/*** Search results ***/
.search-results {
    width: 100%;
    max-width: 600px;
    margin: 25px auto;
    background-color: #fff;
    color: darkgrey;
    list-style: none;
    display: none;
}

.suggestion {
    font-size: 20px;
    position: relative;
    padding: 5px 15px;
    list-style: none;
    cursor: pointer;
}

/* Arrow */
.suggestion:first-child:before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    left: 15px;
    top: 0;
    background: #fff;
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(-57deg) skew(-20deg);
    z-index: -1;
}


/* Selected Class */
.selected {
    background: rgba(255,160,122, 1);
    color: white;
}

/* ... & arrow */
.selected.suggestion:first-child:before {
    background: rgba(255,160,122, 1);
}

ul {
  margin: 0;
  padding: 0;
}

.options {
  display: none;
}

.options a {
  color: black;
  text-decoration: none;
}

.show {
  position: fixed;
  display:block;
}

@media (max-width: 820px) {
  .drop-down-btn {
    left: 0px;
    top: -100px;
    position: relative;
    height: 70px;
    width: 108px;
    font-size: 20px;
  }
}
