body {
  background-color: #ddd;
}


.search-contain {
  margin-top: 100px;
  margin-left: 100px;
  margin: auto;
  position: relative;
  background-color: #fff;
  height: 70px;
  max-width: 600px;
  vertical-align: center;
  border-radius: 0 25% 0 25%;
}

.main{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    background: transparent;

}
.autocomplete{
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 10;
    color: lightSalmon;
}

input {
  color: salmon;
  box-shadow: none;
  outline: none;
  border: 0;
  font-size: 30px;
  width: 100%;
  max-width: 570px;
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
  height: 70px;
}
